body {
    font-family: Arial, Helvetica, sans-serif;
}
.fixed-top {
    background-color: #002f60;
    opacity: 0.9;
}
.mySlides {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 350px;
}
.display-3 {
    margin-top: 200px
}
h6 {
    color: #c1a157;
}
p {
    font-size: 14px;
}
.members {
    width: 48%;
}
.searchWord {
    font-size: 11px;
}
.facMember:hover {
    color: #002f60;
    transform: scale(1.2);
}
.main {
    font-size: 12px;
}
.title {
    color: #002f60;
    font-family: Serif, sans-serif;
}
.title:hover {
    text-decoration-line: none;
    color: #002f60;
}
footer{
    height: 150px;
    font-size: 13px;
    font-weight: bold;
    color: #041e42;
    border-top: 4px outset #B1B1B1;
}
.base {
    width: 390px;
    list-style: none;
    vertical-align: top;
    margin-left: 55px;
}
.base li {
    list-style: none;
    margin: 10px;
}
.myList {
    height: 150px;
    padding: 10px;
}
.baseImg {
    width: 330px;
    vertical-align: top;
    margin-left: 55px;
    background: #041e42;
    padding: 20px 10px;
    text-align: center;
    color: white;
}
.searchNav {
    background: #cfb67c;
    height: 100px;
}
.btn {
    background: #002f60;
    color: white;
    font-family: Serif, sans-serif;
}
.btn:hover {
    background: #002f60;
    color: white;
}
.navB {
    color: #002f60;
}
.navB:hover {
    text-decoration-line: none;
    color: #c1a157;
}
